<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName} + ' - Home'">Title</title>
    <link rel="shortcut icon" type="image/png" th:href="@{favicon.ico}"/>

    <!-- jQuery -->
    <script src="/webjars/jquery/3.6.1/jquery.min.js"></script>

    <!-- Moment JS -->
    <script src="/webjars/momentjs/2.29.4/moment.js"></script>

    <!-- Snap.svg -->
    <script src="/library/snap.svg/0.5.1/snap.svg-min.js"></script>

    <!-- Frappe Gantt Chart -->
    <script src="/library/frappe-gantt/0.6.1/custom-frappe-gantt.js"></script>
    <link rel="stylesheet" href="/library/frappe-gantt/0.6.1/frappe-gantt.css">
    <!-- Custom Frappe Gantt Chart Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom-frappe-gantt-theme.css"/>

    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap 5 BS5-Nav-Tree View -->
    <script src="/library/bs5-nav-tree/0.3.1/tree.js"></script>
    <link rel="stylesheet" href="/library/bs5-nav-tree/0.3.1/tree.css">

    <!-- Google Font: Inter -->
    <link href="https://fonts.googleapis.com/css?family=Inter:400,300,700" rel="stylesheet" type="text/css">

    <!-- Website CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom-website-theme.css"/>
</head>
<body class="bg-light">
<main class="my-5">
    <div class="container">
        <div class="row">
            <h1>Hello !</h1>
            <p class="mb-4 pb-4">Welcome to <span th:text="'\'' + ${appName} + '\''">App Name</span></p>
            <div class="col col-md-4 col-lg-3 mb-2 pb-2">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <div class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                <h5 style="color:#111111">Milestones</h5>
                            </button>
                        </div>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <ul id="nav-tree">
                                    <th:block th:each="milestone,mIter : ${milestones}" th:with="randomMid=${#strings.randomAlphanumeric(5)}">
                                        <li th:id="'li' + ${mIter.index} + ${randomMid}" th:data-value="'li' + ${mIter.index} + ${randomMid}">
                                            <th:block th:switch="${milestone.getMilestoneState.name()}">
                                                <a th:case="${'OPENED'}" th:text="${milestone.getMilestoneTitle()}"></a>
                                                <a th:case="${'CLOSED'}"><del th:text="${milestone.getMilestoneTitle()}"></del></a>
                                                <a th:case="${'NOT_CLOSED_YET'}"><del th:text="${milestone.getMilestoneTitle()}" style="color: red"></del></a>
                                            </th:block>
                                            <ul>
                                                <th:block th:each="requirement,rIter : ${milestone.getRequirementList()}" th:with="randomRid=${#strings.randomAlphanumeric(5)}">
                                                    <li th:id="'li' + ${rIter.index} + ${randomRid}" th:data-value="'li' + ${rIter.index} +  ${randomRid}">
                                                        <th:block th:switch="${requirement.getRequirementState.name()}">
                                                            <a th:case="${'OPENED'}" th:text="${requirement.getRequirementTitle()}"></a>
                                                            <a th:case="${'CLOSED'}"><del th:text="${requirement.getRequirementTitle()}"></del></a>
                                                            <a th:case="${'NOT_CLOSED_YET'}"><del th:text="${requirement.getRequirementTitle()}" style="color: red"></del></a>
                                                        </th:block>
                                                        <ul>
                                                            <th:block th:each="task,tIter : ${requirement.getTaskList()}" th:with="randomTid=${#strings.randomAlphanumeric(5)}">
                                                                <li th:id="'li' + ${tIter.index} + ${randomTid}" th:data-value="'li' + ${tIter.index} + ${randomTid}">
                                                                    <th:block th:switch="${task.getTaskState().name()}">
                                                                        <a th:case="${'CLOSED'}"><del th:text="${task.getTaskTitle()}"></del></a>
                                                                        <a th:case="${'OPENED'}" th:text="${task.getTaskTitle()}"></a>
                                                                    </th:block>
                                                                </li>
                                                            </th:block>
                                                        </ul>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                <h5 style="color:#111111">Hatalı Requirement Listesi</h5>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <div class="list">
                                    <div th:each="req : ${incorrectRequirement}">
                                        <ul>
                                            <li th:text="${req.getRequirementTitle()}" style="color: red">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                <h5 style="color:#111111">Hatalı Task Listesi</h5>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <div class="list">
                                    <div th:each="tas : ${incorrectTask}">
                                        <ul>
                                            <li th:text="${tas.getTaskTitle()}" style="color: red"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-8 col-lg-9">
                <div class="shadow card">
                    <nav id="roadmapViewBtnGroup" class="px-2 py-1 gap-2 navbar navbar-expand-lg">
                        <small class="fw-bold">View Type: </small>
                        <button id="ganttDayBtn" type="button"
                                class="btn btn-light btn-sm border-secondary border-opacity-25">Day
                        </button>
                        <button id="ganttWeekBtn" type="button"
                                class="btn btn-light btn-sm border-secondary border-opacity-25">Week
                        </button>
                        <button id="ganttMonthBtn" type="button"
                                class="btn btn-light btn-sm border-secondary border-opacity-25">Month
                        </button>
                    </nav>
                    <svg id="gantt"></svg>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="my-4 pt-4 text-muted text-center text-small">
    <p class="mb-1"># 2022 Project Roadmap #</p>
</footer>

<script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    var milestones = /*[[${milestones}]]*/ null;

    function createGanttTasks(milestoneList) {
        var taskCollection = [];
        for (var mKey in milestoneList) {
            var start = new Date(milestoneList[mKey].startDate);
            var end = new Date(milestoneList[mKey].endDate);
            var milestoneId = 'M' + milestoneList[mKey].id.toString();
            taskCollection.push({
                start: start,
                end: end,
                name: milestoneList[mKey].milestoneTitle,
                id: milestoneId
            });
            const milestoneIndex = taskCollection.length - 1;

            var requirements = milestoneList[mKey].requirementList;
            for (var rKey in requirements) {
                const requirementCompletionInfo = getRequirementCompletionInfo(requirements[rKey].taskList);
                start = new Date(requirements[rKey].startDate);
                end = new Date(requirements[rKey].endDate);
                const requirementId = 'R' + requirements[rKey].id.toString();
                taskCollection.push({
                    start: start,
                    end: end,
                    name: requirements[rKey].requirementTitle,
                    id: requirementId,
                    progress: requirementCompletionInfo.progress,
                    dependencies: milestoneId,
                    taskCnt: requirementCompletionInfo.taskCnt,
                    completedTaskCnt: requirementCompletionInfo.completedTaskCnt
                });
            }

            const milestoneCompletionInfo = getMilestoneCompletionInfo(requirements);
            taskCollection[milestoneIndex].progress = milestoneCompletionInfo.progress;
            taskCollection[milestoneIndex].taskCnt = milestoneCompletionInfo.totalTaskCnt;
            taskCollection[milestoneIndex].completedTaskCnt = milestoneCompletionInfo.totalCompletedTaskCnt;
        }
        return taskCollection;
    }

    function getRequirementCompletionInfo(tasks) {
        var taskCnt = tasks.length;
        var completedTaskCnt = 0;
        for (var key in tasks) {
            if (tasks[key].taskState === "CLOSED") {
                completedTaskCnt++;
            }
        }
        const progress = ((completedTaskCnt / taskCnt) * 100).toFixed(0);
        return {progress, taskCnt, completedTaskCnt};
    }

    function getMilestoneCompletionInfo(requirements) {
        const requirementCnt = requirements.length;
        var completedRequirementCnt = 0;
        var totalTaskCnt = 0;
        var totalCompletedTaskCnt = 0;
        for (var key in requirements) {
            if (requirements[key].requirementState === "CLOSED") {
                completedRequirementCnt++;
            }
            let taskCompletionInfo = getRequirementCompletionInfo(requirements[key].taskList);
            totalTaskCnt += taskCompletionInfo.taskCnt;
            totalCompletedTaskCnt += taskCompletionInfo.completedTaskCnt;
        }
        var progress = ((totalCompletedTaskCnt / totalTaskCnt) * 100).toFixed(0);
        return {progress, requirementCnt, completedRequirementCnt, totalTaskCnt, totalCompletedTaskCnt};
    }

    var gantt = new Gantt("#gantt", [{
        id: 'Task 1',
        name: 'Redesign website',
        start: '2016-12-28',
        end: '2016-12-31',
        progress: 20,
    }]);

    $('#ganttDayBtn').on('click', function (event) {
        $('#roadmapViewBtnGroup > button').removeClass('active');
        $(this).addClass('active');
        gantt.change_view_mode('Day') // Quarter Day, Half Day, Day, Week, Month
    });

    $('#ganttWeekBtn').on('click', function (event) {
        $('#roadmapViewBtnGroup > button').removeClass('active');
        $(this).addClass('active');
        gantt.change_view_mode('Week') // Quarter Day, Half Day, Day, Week, Month
    });

    $('#ganttMonthBtn').on('click', function (event) {
        $('#roadmapViewBtnGroup > button').removeClass('active');
        $(this).addClass('active');
        gantt.change_view_mode('Month') // Quarter Day, Half Day, Day, Week, Month
    });

    document.addEventListener('DOMContentLoaded', function () {
        NavTree.createBySelector("#nav-tree", {
            showEmptyGroups: true,
            iconWidth: "25px",
            groupOpenIconClass: "fas",
            groupOpenIcon: "fa-chevron-down",
            groupCloseIconClass: "fas",
            groupCloseIcon: "fa-chevron-right",
            linkIconClass: "fa-solid",
            linkIcon: "fa-bars-progress",
            iconPlace: "start"
        });
    });

    $( document ).ready(function() {
        var ganttTasks = createGanttTasks(milestones);

        gantt = new Gantt("#gantt", ganttTasks, {
            header_height: 50,
            column_width: 30,
            step: 24,
            view_modes: ['Quarter Day', 'Half Day', 'Day', 'Week', 'Month'],
            bar_height: 20,
            bar_corner_radius: 3,
            arrow_curve: 5,
            padding: 18,
            view_mode: 'Day',
            date_format: 'YYYY-MM-DD',
            custom_popup_html: function (task) {
                return `
                        <div class="card">
                            <div class="card-body">
                                <h6>${task.name}</h6>
                                <span>Task Completion: <span class="badge bg-secondary">${task.completedTaskCnt} / ${task.taskCnt}</span></span>
                                <span>${task.progress}% completed!</span>
                            </div>
                        </div>
                      `;
            }
        });

        $('#ganttMonthBtn').click();
    })
</script>
</body>
</html>