<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName} + ' - Home'">Title</title>
</head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">App Name</span></p>
<div class="container">

    <div th:each="milestone : ${milestones}">
        <div th:switch="${milestone.getMilestoneState.name()}">
            <li th:case="${'OPENED'}" th:text="${milestone.getMilestoneTitle()}"></li>
            <li th:case="${'CLOSED'}">
                <del th:text="${milestone.getMilestoneTitle()}"></del>
            </li>
            <li th:case="${'NOT_CLOSED_YET'}">
                <del th:text="${milestone.getMilestoneTitle()}" style="color: red"></del>
            </li>
        </div>
        <ul>
            <div th:each="requirement : ${milestone.getRequirementList()}">

                <div th:switch="${requirement.getRequirementState.name()}">
                    <li th:case="${'OPENED'}"
                        th:text="${requirement.getRequirementTitle()+' '+requirement.getClosedTaskCountPercent}"></li>
                    <li th:case="${'CLOSED'}">
                        <del th:text="${requirement.getRequirementTitle()+' '+requirement.getClosedTaskCountPercent}"></del>
                    </li>
                    <li th:case="${'NOT_CLOSED_YET'}">
                        <del th:text="${requirement.getRequirementTitle()+' '+requirement.getClosedTaskCountPercent}"
                             style="color: red"></del>
                    </li>
                </div>
                <ul>
                    <div th:each="task : ${requirement.getTaskList()}">
                        <div th:switch="${task.getTaskState().name()}">
                            <li th:case="${'CLOSED'}">
                                <del th:text="${task.getTaskTitle()}"></del>
                            </li>
                            <li th:case="${'OPENED'}" th:text="${task.getTaskTitle()}"></li>
                        </div>
                    </div>
                </ul>
            </div>
        </ul>
    </div>

</div>
</body>
</html>